<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<app-loader></app-loader>
<form [formGroup]="authForm" (submit)="onSubmitHandler()" class="authForm">
    {{errors }}
    <div class="authIntro">{{intro}}</div>

    <label for="email">{{email}}</label>
    <input id="email" type="text" formControlName="email" class="authInput" />

    <label for="password">{{password}}</label>
    <input id="password" type="text" formControlName="password" class="authInput" />

    <button type="submit">Submit</button>
</form>